/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
  /* Background Colors: */
  --background-color: #232c1e;
  --content-background-color: #232c1ec4;
  --sidebar-background-color: #232c1ec4;

  /* Text Colors: */
  --text-color: #e4ffe7;
  --sidebar-text-color: #e4ffe7;
  --link-color: #e4190a;
  --link-color-hover: #ec7474;

  /* Text: */
  --font: Times New Roman, serif;
  --heading-font: Garamond, serif;
  --font-size: 14px;

  /* Other Settings: */
  --margin: 16px;
  --padding: 20px;
  --border: 4px double #e4ffe7;
  --round-borders: 10px;
  --sidebar-width: 200px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background: var(--background-color);
  background-image: url("https://files.catbox.moe/lxurx3.png");
  background-size: cover;
}

::selection {
  /* (Text highlighted by the user) */
  background: rgba(200, 0, 0, 0.5);
}

mark {
  /* Text highlighted by using the <mark> element */
  text-shadow: 1px 1px 4px var(--link-color);
  background-color: inherit;
  color: var(--text-color);
}

/* Links: */
a {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
  width: 1350px;
  display: grid;
  grid-gap: var(--margin);
  grid-template: "header header header" auto "leftSidebar main rightSidebar" auto "footer footer footer" auto / var(--sidebar-width) auto var(--sidebar-width);
  /* Confused by the grid? Check out my tutorial: https://petrapixel.neocities.org/coding/positioning-tutorial#grid */
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--border);
  border-radius: var(--round-borders);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
  grid-area: header;
  font-size: 1.2em;
  border: var(--border);
  border-radius: var(--round-borders);
  background: var(--content-background-color);
}

.header-content {
  padding: var(--padding);
}

.header-title {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
}

.header-image img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------------- */
/* SIDEBARS */
/* -------------------------------------------------------- */

aside {
  grid-area: aside;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  background: var(--sidebar-background-color);
  padding: var(--padding);
  color: var(--sidebar-text-color);
}

.left-sidebar {
  grid-area: leftSidebar;
}

.right-sidebar {
  grid-area: rightSidebar;
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--heading-font);
}

.sidebar-section:not(:last-child) {
  margin-bottom: 3em;
  text-align:center;
}

.sidebar-section ul,
.sidebar-section ol {
  padding-left: 1.5em;
}

.sidebar-section > *:not(p):not(ul):not(ol):not(blockquote) {
  margin-top: 10px;
}

/* Sidebar Blockquote: */

.sidebar-section blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar-section blockquote > *:first-child {
  margin-top: 0;
}

.sidebar-section blockquote > *:last-child {
  margin-bottom: 0;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
  grid-area: footer;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  font-size: 0.75em;
  padding: 15px;
  background: var(--content-background-color);
  display: flex;
  justify-content: center;
}

footer a,
footer a:visited {
  color: var(--link-color);
}

footer a:hover,
footer a:focus {
  color: var(--link-color-hover);
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}

nav .sidebar-title {
  margin-bottom: 0.5em;
}

nav ul {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  user-select: none;
}

nav ul li {
  margin-bottom: 0;
}

nav > ul li > a,
nav > ul li > strong {
  display: inline-block;
}

nav > ul li > a,
nav > ul li > details summary,
nav > ul li > strong {
  padding: 5px 10px;
}

nav > ul li > a.active,
nav > ul li > details.active summary {
  font-weight: bold;
  text-align: center;
}

nav ul summary {
  cursor: pointer;
}

nav ul ul li > a {
  padding-left: 30px;
}

/* NAVIGATION IN HEADER */

header nav {
  margin-bottom: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  text-align: center;
}

header nav ul li {
  position: relative;
  text-align: center;
}

header nav ul li:first-child > a {
  padding-left: 0;
  text-align: center;
}

header nav ul li:last-child > a {
  padding-right: 0;
  text-align: center;
}

/* Subnavigation (Drop-Down): */

header nav ul ul {
  background: var(--content-background-color);
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  padding: 1em;
  z-index: 1;
  border: var(--border);
  min-width: 100%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  justify-content: center;
}

header nav ul li:hover ul,
header nav ul li:focus-within ul {
  display: block;
  justify-content: center;
}

header nav ul li strong {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: normal;
}

header nav ul ul li a {
  display: block;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  display:flex;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

main {
  line-height: 1.5;
}

main a,
main a:visited {
  color: var(--link-color);
}

main a:hover,
main a:focus {
  color: var(--link-color-hover);
  text-decoration-style: wavy;
}

main p,
main .image,
main .full-width-image,
main .two-columns {
  margin: 0.5em 0;
}

main ol,
main ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

main ol li,
main ul li {
  margin-bottom: 0.2em;
  line-height: 1.3;
}

main ol {
  padding-left: 2em;
}

main blockquote {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
}

main pre {
  margin: 1em 0 1.5em;
}

main code {
  text-transform: none;
}

main center {
  margin: 1em 0;
  padding: 0 1em;
}

main hr {
  border: 0;
  border-top: var(--border);
  margin: 1.5em 0;
}

/* HEADINGS: */

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: var(--heading-font);
  margin-bottom: 0;
  line-height: 1.5;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main h1 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.4em;
}

main h3 {
  font-size: 1.3em;
}

main h4 {
  font-size: 1.2em;
}

main h5 {
  font-size: 1.1em;
}

main h6 {
  font-size: 1em;
}

/* COLUMNS: */

.two-columns {
  display: flex;
}

.two-columns > * {
  flex: 1 1 0;
  margin: 0;
}

.two-columns > *:first-child {
  padding-right: 0.75em;
}

.two-columns > *:last-child {
  padding-left: 0.75em;
}

/* container */
.responsive-three-columns {
    display:flex;
    flex-wrap:wrap;
}

/* columns */
.responsive-three-columns > * {
    width:100%;
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-columns > * {
        width:calc(100% / 3);
    }
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  margin:5px;
}

.full-width-image {
  display: block;
  width: 100%;
  height: auto;
}

.images {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
  padding:10px;
  width: calc(100%+5px+5px);
}

.images img {
  width: 100%;
  height: auto;
  margin: 0;
  padding:5px;
  overflow: hidden;
  border-radius: 2em;
  transition: transform .2s;
  text-align:center;
}
 .images img:hover {
   transform: scale(1.25);
 }


/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

/* please do not remove this. */

#skip-to-content-link {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--content-background-color);
  color: var(--text-color);
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
  transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVE */
/* -------------------------------------------------------- */

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .layout {
    width: 100%;
    grid-template: "header" auto "main" auto  "leftSidebar" auto  "rightSidebar" auto "footer" auto / 1fr;
    /* Confused by the grid? Check out my tutorial: https://petrapixel.neocities.org/coding/positioning-tutorial#grid */
  }
  


  aside {
    border-bottom: 1px solid;
    padding: 9px;
    font-size: 0.9em;
    display: none;
  }

  
  nav {
    padding: 0;
    
  }

  nav > ul {
    padding-top: 0.5em;
  }

  nav > ul li > a,
  nav > ul li > details summary,
  nav > ul li > strong {
    padding: 0.5em;
  }

  main {
    max-height: none;
    padding: 15px;
  }

  .images {
    display: inline-block;
    flex-wrap: wrap;
  }

  .images img {
    width: 50%;
  }

  #skip-to-content-link {
    font-size: 1rem;
  }

    iframe {
      width: 100%;
      height: calc(100vw * 0.5625);
      border: none;
    }
  
}

/* -------------------------------------------------------- */
/* Art Gallery */
/* -------------------------------------------------------- */

/* Wrapper */
.example-image-gallery {
  display: flex;
  flex-wrap: wrap;
}

/* Items */
.example-image-gallery div {
  box-sizing: border-box;
  width: calc(25% - 10px);
  margin: 5px;
  border: 5px solid;
  overflow: hidden;
  position: relative;
}

/* Images */
.example-image-gallery div img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Captions */
.example-image-gallery div span {
  position: absolute;
  bottom: 15px;
  left: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background: white;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.4s ease, opacity 0.5s ease;
}

/* Images on Hover */
.example-image-gallery div:hover img {
  transform: scale(1.35);
}

/* Captions on Hover */
.example-image-gallery div:hover span {
  opacity: 1;
  transform: none;
}

/* Mobile */
@media (max-width: 800px) {
  .example-image-gallery div {
    width: calc(50% - 10px);
  }
}

/* -------------------------------------------------------- */
/* Div Scroll Container */
/* -------------------------------------------------------- */

div.scroll-container {
  background-color: #332c1ec4;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 5px;
  width: 100px;
  height: 300px;
  overflow-x: scroll;
  
}

div.scroll-container img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrollbox {
  max-height:170px; 
  overflow:scroll;
}

/* -------------------------------------------------------- */
/* Spoiler Text Defined */
/* -------------------------------------------------------- */

.spoiler, .spoiler2, .spoiler a, .spoiler2 a{ 
  color: black; 
  background-color: black;
}

.spoiler:hover, .spoiler:hover a {
  color: white;
}

.spoiler2:hover, .spoiler2:hover a { 
 background-color:white; 
}

/* -------------------------------------------------------- */
/* Journal Entry Div Define */
/* -------------------------------------------------------- */


.journal-entry {
 padding: 15px;
 width: 100%;
 max-height: 400px;
 overflow-y: scroll;
 border: double;
 border-radius:3em;
 margin-top: 20px;
 text-align: center;
 background-image: url('https://files.catbox.moe/aql4z0.png');
 background: contain;
 position: relative;
}
 
.j-e-header {
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top:2vh;
  left:2vh;
  background-color: #332c1ec4;
  border-radius: 2em;
  padding:1em;
  border:solid 1px;
  font-family: "Indie Flower", cursive;
  text-shadow: 1px 1px 2px red;
  transition: transform .2s;
}

.j-e-header:hover {
  transform: scale(1.05);
}

.j-e-content {
  border-top: double;
  border-bottom: double;
  border-radius: 5em;
  margin-top:50px;
  padding: 1em;
  background-color: #232c1ec3;
}

.j-e-content img{
  border-radius:1em;
  transition: transform .2s;
}
  
.j-e-content img:hover {  
  transform: scale(1.25);
  
}

.j-e-footer {
  padding: 1em;
  position: relative;
  bottom: 2vh;
  right: -45vh;
  display: inline-block;
  background-color: #332c1ec4;
  border-radius:2em;
  border:solid 1px;
  font-family: "Indie Flower", cursive;
  transition: transform .2s;
}

.j-e-footer:hover{
  transform: scale(1.05);
}

.standard{
  border:dotted;
  border-radius:1em;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding:1%;
  margin:3%;
}

#cliques{
  max-height:200px;
  overflow:scroll;
}

#fanlistings{
  max-height:200px;
  overflow:scroll;
  display: inline-flex; 
  flex-direction: row; 
  justify-content: space-around;
  flex-shrink: 0;
}

#about-me-facts, #about-me-alchemy{
  max-height:150px;
  overflow:scroll;
}
#about-me-facts ul li{
  list-style: none;
}

#about-me-alchemy ul li{
  list-style: none;
}

.a03 {
  border-radius: 2em;
  background-image: url('https://files.catbox.moe/z5j9kl.png');
  background: cover;
  border: double; 
  padding: 2%;
  margin: 30px;
  position: relative;
}

.a03-stats{
 border-bottom: double; 
  border-radius: 1em;
  text-align: center;
  width:20%;
  margin:5px;
  background:#000000aa ; 
  position: absolute;
  top:2vh;
  left:2vh;
}

@media screen and (max-width: 600px) {
  .a03-stats {
    visibility: hidden;
  display: none;
  }
}

.a03-title{
  border-bottom: double; 
  border-radius: 1em; 
  margin:5px;
  text-align:center;
  background:#000000aa ;
}

.a03-context{
  border-bottom: double; 
  border-top:double;
  border-radius: 1em; 
  margin:5px;
  text-align: center;
  background:#000000aa ;
}
.a03-context hr{
  margin:auto;
  width:25%;
}

.a03-tags{
  border-bottom: double; 
  border-top: double; 
  border-radius: 1em; 
  margin:5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background:#000000aa ;
}

.a03-tags ul li{
  background:grey;
  border-radius: 1em;
  display: inline-block;
  margin :5px;
  padding:1%;
  transition: transform .2s;
}

.a03-tags ul li:hover{
  transform: scale(1.05);
  cursor: wait;
}

.a03-summary{
  border-bottom: double; 
  border-top: double; 
  border-radius: 1em; 
  margin:5px;
  background:#000000aa ;
  text-align:center;
}

/* --------------------------------------------------------
Curse of Strahd Session Boxes
-------------------------------------------------------- */

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.sessionentry {
  border: 10px inset #0f412a;
  border-radius: 1em;
  margin: auto;
  width:90%;
  padding:1%;
  background: #000000aa url('https://files.catbox.moe/blad8m.jpg') center center/cover no-repeat;
  position: relative;
}

#sessionrecording {
  border: 30px solid transparent;
  border-image: url('https://files.catbox.moe/0kluzq.png') round round;
  border-image-slice: 296 296 296 296;
  border-image-width: 25% 25% 25% 25%;
  max-width: 90%;
  margin:auto;
}

#sessionrecording border-image{
  z-index: 1;
}

#description{
  color:black;
  text-align:center;
  width: 65%;
  margin-left:auto;
  font-family: "Italianno", cursive;
  font-size:22px;
  padding:15px;
  font-weight:bold;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  
}

#sessionheader {
  position: absolute;
  top: 1%;
  left:1%;
  font-size: 28px;
  background-color: black;
  border-radius: 5em;
  padding:1%;
}

#topright img{
  position:absolute;
  top:0%;
  right:0%;
  width:30%;
  transition: transform .5s;
}

#topright img:hover{
  opacity: 0.25;
  transition: transform .5s ;
}

#bottomleft img{
  position:absolute;
  bottom:5%;
  left:3%;
  width:20%;
  filter: saturate(50%) blur(.5px);
  transition: transform .5s;
}

@media screen and (max-width: 600px) {
  #sessionheader, #topright, #bottomleft {
    visibility: hidden;
  display: none;
  }
  
}

/* --------------------------------------------------------
Time Warp System Specifics
-------------------------------------------------------- */

#profile{
  background:url("https://files.catbox.moe/lxurx3.png") black;
  background-size: cover;
  border: solid;
  border-radius: 30% 10% / 30% 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position:relative;
}

#profile img{
  width: 75%;
  position:relative;
  z-index: 1;
}

#profile span{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius:1em;
  padding:1%;
  font-size: 16px;
  transition: background-color 1s ease 0s;
}

#profile span:hover{
  transition: transform 3s;
  background-color: rgba(25, 111, 41, .5);
}

#profile-hoverable img{
  position:absolute;
  top:1em;
  right:1rem;
  filter: brightness(0) saturate(100%) invert(22%) sepia(74%) saturate(320%) hue-rotate(108deg) brightness(97%) contrast(104%);
  width:35%;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

#profile-hoverable img:hover{
  opacity: 0.25;
  filter: brightness(0) saturate(100%) invert(8%) sepia(98%) saturate(5308%) hue-rotate(5deg) brightness(80%) contrast(111%);
}

#myInput {
  background-image: url('/css/searchicon.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  /* Add a border to all links */
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  /* Grey background color */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove default text underline */
  font-size: 18px;
  /* Increase the font-size */
  color: black;
  /* Add a black text color */
  display: block;
  /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
  /* Add a hover effect to all links, except for headers */
}

.monitoring {
  background-image: url(https://ddnikki.nekoweb.org/monitoring/widget2.png);
}

/* alternate logo for widget3.png: */
.monitoringtext {
  content: url(https://ddnikki.nekoweb.org/monitoring/friendlogomini.png) !important;
}